<launch>
    <env name="ROS_MASTER_URI" value="http://192.168.0.117:11411" />
    <env name="ROS_IP" value="192.168.0.228" />
    <group ns = "urgeorge">
        <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
            <arg name="robot_ip" value="192.168.0.161"/>
            <arg name="reverse_ip" default=""/>
            <arg name="reverse_port" value="50001"/>
            <arg name="script_sender_port" value="50002"/>
            <arg name="trajectory_port" value="50003"/>
            <arg name="script_command_port" value="50004"/>
        </include>
    </group>
    <group ns = "urpapu">
        <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
            <arg name="robot_ip" value="192.168.0.141"/>
            <arg name="reverse_ip" default=""/>
            <arg name="reverse_port" value="50005"/>
            <arg name="script_sender_port" value="50006"/>
            <arg name="trajectory_port" value="50007"/>
            <arg name="script_command_port" value="50008"/>
        </include>
    </group>
</launch>
